<!DOCTYPE html>
<html>
  <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Add Category</title>

        <!-- Bootstrap Core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Theme CSS -->
        <link href="../css/agency.min.css" rel="stylesheet">
        <link href="../css/agency.css" rel="stylesheet">
  </head>
  <body>
    <!-- <h1>Add Category</h1>
    <form action="/categories/add" method="post">
      <h3>Category Name</h3> <input type="text" name="name"><br>
      <button type="submit" value="submit">Submit</button>
    </form> -->


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Add Category</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method ="post" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <h3> Category  Name </h3>
                                    <input type="text" class="form-control"  name = "name" required data-validation-required-message="Please enter a category name.">
                                    <button type="submit" value = "submit" class="btn btn-xl">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



  </body>
</html>
<!--
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Business Contact</title>
  </head>
  <body>
    <h1>Add Business Contact</h1>
    <form action="/contacts/add" method="post">
      <h3>Name</h3> <input type = "text" name = "name"><br>
      <h3>Phone</h3><input type = "text" name = "phone"><br>
      <h3>Email</h3><input type = "text" name = "email"><br>
      <h3>Description</h3><textarea cols="30" rows="5" name = "description"></textarea><br>
      <h3>Categories</h3><select name = "CategoryId" required>
      <% for(let i = 0; i < categories.length;i++){%>
        <option value="<%=categories[i].id%>"><%= categories[i].name%></option>
        <%}%>
      </select>
      <h3>Cities</h3><select name = "CityId" required>
      <% for(let i = 0; i < cities.length;i++){%>
        <option value="<%=cities[i].id%>"><%= cities[i].name%></option>
        <%}%>
        </select>
      <button type = "submit">Submit</button>
    </form>
  </body>
</html> -->
