<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Category</h1>
    <form action="/categories/add" method="post">
      <h3>Category Name</h3> <input type="text" name="name"><br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
