<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Keyword</title>
  </head>
  <body>
    <form method = "Post">
      Keyword<input type = "text">
      <% if (b === City){ %>
        <select name="" required>
          <% for(let i = 0; i < City.length; i++){ %>
          <option><%= City[i] %></option>
        </select>
        <%  }} %>
      <% if (b === Category){ %>
        <select name= "" required>
          <% for(let i = 0; i < Category.length; i++){ %>
          <option><%= Category[i] %></option>
        </select>
    <%  }} %>
    </form>
  </body>
</html>
